.~*
.DS_Store
.env*
pids
*.pid*
*.seed
lib-cov
logs
*.log*
.grunt
.npm
.lock-wscript
.eslintcache
.node_repl_history
package-lock.json
/backend/ca_store
/backend/node_modules
/frontend/build
/frontend/coverage
/frontend/node_modules
